*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor_navegacion {
        background-image: url(./assets/Fondo\ azul.png);
        background-blend-mode: multiply;
        background-color: #002a4c ;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;  
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        padding: 2rem;
}

