*{
    padding:0;
    margin: 0;
}

.ContenedorJE{
    background-color: rgb(234, 232, 232);
    width: 100%;
    display: flex;

}

.VideoJE{
    width: 560px; 
    height: 315px;
    margin: 2rem;
    box-shadow: 5px 5px 3px rgb(102, 102, 103); 
}

.ContenedorBotonesJE{
    display: flex;
    justify-content: space-around;
    align-self: center;
    
    width: 100%;
    height: 100%;
}

.BotonJE{
    background-color: antiquewhite;
    padding: 1rem;
    margin: 0.5rem;
}

.BotonJE:hover{
    background-color:rgb(255, 206, 145) ;
}