*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor-navegacion {
        background-image: url(./assets/Fondo\ azul.png);
        background-blend-mode: multiply;
        background-color: #002a4c ;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;  
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        padding: 2rem;
}

.Contenedor-logo{
    width: 15rem;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 0 2rem; 
}

.Contenedor-logo img{
    width: 100%;
}
.Contenedor-redes{
    display: flex;
    align-items: center;
    background-color: #002a4c;
    border-bottom: 1px solid #f27f05;
}

.Redes{
    align-items: center;
    width: 80%;
    display: flex;
    justify-content: end;
    color: white;
}

.ContenedorRedes p{
    margin: 0.4rem;
}

.ContendorRedes{
    display: flex; 
    
}

.ContendorRedes a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.Redes li {
    text-decoration: none;
    list-style: none;
    margin-top: 0.4rem;
    padding: 0.2rem;
}

.ImagenRedSocial{
    width: 1.5rem;
}

.navegacion a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 1rem;
}

.navegacion a:hover{
        color: red;
        transform: translateY(-5px);
}   

.Contenedor-portada{
    background-image: url(./assets/Paseo\ Autonomico.jpg);
    background-size: cover;
    height: 30rem;
    background-blend-mode: multiply;
    background-color: #2a2c2eb5 ;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Contenedor-portada a:hover{
    background-color: #6f737679;
    padding: 0 1rem;
}

.Contenedor-portada img{
    width: 15rem;
}

.Texto-climatico a{
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-weight: 700;
}